.git
.gitignore
node_modules
**/node_modules
.pytest_cache
**/.pytest_cache
.next
**/.next
.next-dev
**/.next-dev
.next-prod
**/.next-prod
dist
build
artifacts
apps/web/*.log
apps/web/*.out.log
apps/web/*.err.log
apps/api/*.log
apps/api/*.out.log
apps/api/*.err.log
*.db
*.sqlite
*.pid
